/* Array List Styling */

/* Styling Two Arrows Splitting Up-Down */
/* Point Up-Right */
.north-east {
    transform: rotate(-28deg);
}

/* Point Down-Right */
.south-east {
    transform: rotate(28deg);
}

/* Margin-Down */
#split-top-arrow-container {
    margin: 0 3px 10px 3px;
}

/* Margin-Up */
#split-bottom-arrow-container {
    margin: 10px 3px 0 3px;
}

/* Styling Arrow for Label */
.arrow-label {
    font-size: 16px;
    margin: 4px 0;
    line-height: 13px;
}

/* Transition Arrow/Label Styling */
.transition-container {
    margin: 0 10px 50px 10px;
}