h2 {
    width: max-content;
    padding: 10px 10vw 10px 10vw;
    margin: 45px 0 20px -10vw;

    background-color: #5FA8D3;
}

h3 {
    font-size: 22px;
}

li {
    margin: 5px 0;
}

input {
    width: 100px;
}

button {
    font-size: 16px;
    background-color: #62b6cb79;
    border: solid 1px black;
    border-radius: 3px;
}

button:hover {
    background-color: #62B6CB;
    box-shadow: black 1px 1px 4px;
}

/* p {
    border: 10px solid transparent; 
    border-image: url(../images/ChainToLink.png) 225 round;
} */
.flex-item {
    width: 38vw;
    padding: 0 10px;
}

.flex-three-item {
    width: 22vw;
}

.flex-three-item h4 {
    text-align: center;
}

.flex-three-item p {
    padding: 0 10px;
}

.box {
    border: 1px solid black;
    border-radius: 2px;
    padding: 10px;
    margin: 3px 0;
}

.north-east {
    transform: rotate(-28deg);
}

.south-east {
    transform: rotate(28deg);
}

.split-top-arrow-container {
    margin: 0 3px 10px 3px;
}

.split-bottom-arrow-container {
    margin: 10px 3px 0 3px;
}

.arrow-label {
    font-size: 16px;
    margin: 4px 0;
    line-height: 13px;
}

.comment {
    color: grey;
    font-style: italic;
}

.interactiveVisual {
    /* background-color: #1b496572; */
    /* color: #1B4965; */
    width: 100%;
    padding: 10px;
    margin: 10px 0 30px 0;
}

.code {
    font-family: "Google Sans Code", monospace;
}

/* Array List Styling */
.transition-container {
    margin: 0 10px 50px 10px;
}

.array-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.array-item {
    border: solid 1px black;
    background-color: #CAE9FF;

    font-size: 22px;
    text-align: center;
    align-content: center;
    
    width: 30px;
    height: 30px;
    padding: 5px;
    margin: 5px 0;
}

.thin-arrow-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
}

.right-arrow-thin-body {
    width: 60px;
    height: 7px;

    background-color: black;
}

.right-arrow-thin-head {
    width: 0;
    height: 0;

    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 20px solid black;
}


/* Linked List Styling */
.link-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.medium .node {
    width: 60px;
    height: 60px;

    font-size: 20px;
}

.medium .arrow-body {
    width: 15px;
    height: 7px;
}

.medium .right-arrow-head {
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 16px solid #1B4965;
}

.medium .left-arrow-head {
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 16px solid #1B4965;
}

.small .node {
    width: 40px;
    height: 40px;
}

.small .arrow-body {
    width: 10px;
    height: 4px;
}

.small .right-arrow-head {
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 12px solid #1B4965;
}

.small .left-arrow-head {
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-right: 12px solid #1B4965;
}

.node {
    width: 100px;
    height: 100px;
    margin: 0;

    text-align: center;
    align-content: center;
    font-size: 20px;

    border: solid black 1px;
    border-radius: 100px;
    
    background-color: #CAE9FF;
}

.arrow-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;

    margin: 1px;
}

.arrow-body {
    width: 45px;
    height: 10px;

    background-color: #1B4965;
}

.right-arrow-head {
    width: 0;
    height: 0;

    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 25px solid #1B4965;
}

.left-arrow-head {
    width: 0;
    height: 0;

    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 25px solid #1B4965;
}

.null {
    color: white;
    background-color: black;

    /* border: solid black 1px; */
    font-size: 24px;

    padding: 5px;
}


.big-curve {
    width: 150px;
    clip-path: shape(from bottom left, curve to bottom right with 50% 100%, line to 3px bottom, curve to bottom right with 50% 30%, line to bottom left);
    height: 114px;
    background-color: #1B4965;
}

.small-curve {
   width: 132px;
    clip-path: shape(from bottom left, curve to bottom right with 50% 100%, line to 3px bottom, curve to bottom right with 50% 30%, line to bottom left);
    height: 98px;
    background-color: white;
    position: absolute;
    top: 16px;
    left: 8px;
}

.rotate-arrow-head {
    transform: rotate(15deg);
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 16px solid #1B4965;
    position: absolute;
    bottom: -6px;
    left: -4px;
}

/* Stack Styling */

.stack-item {
    border: solid 1px black;
    background-color: #CAE9FF;

    width: 100px;
    height: 30px;
    padding: 5px;
    margin: 0;

    font-size: 22px;
    text-align: center;
    align-content: center;
}

.stack-bottom {
    width: 200px;
    border: solid 2px black;
}

.stack-container {
    margin: 10px 0;
}

.img-proxy {
    width: 100%;
    height: 100%;
    background-color: grey;
}

.rotate-90 {
    transform: rotate(90deg);
    aspect-ratio: 1;     
    z-index: 2;
}

.full-width {
    width: 93%;
}

.white-background {
    background-color: white;
    /* height: 15px; */
}

.vertical-label {
    position: relative;
}

.vertical-label p {
    position: absolute;
    top: 5px;
    z-index: 3;
}

.small-margin {
    margin: 3px;
}

.person-body {
    clip-path: shape(from bottom left, line to left 50px, curve to right 50px with 50% 0, line to bottom right, line to bottom left);
    background-color: black;
    width: 80px;
    height: 60px;

    position: relative;
    top: -30px;
}