h4 {
    width: 100%;
    text-align: center;
    background-color: #BEE9E8;
}

.topic-item p {
    margin-top: 0;
}

.topic-item {
    width: 18vw;
    min-width: 275px;
    min-height: 275px;
    padding: 5px 20px;
    margin: 0 25px 15px 25px;

    border: solid black 1px;
    border-radius: 5px;
}

.topic-item:hover {
    border: solid #1B4965 1px;
    box-shadow: black 2px 2px 3px;
}

/* Small Screen Size Styling */
@media (max-width: 400px) {
    .topic-item {
        min-width: 75vw; 
        margin: 10px 5px;
    }
} 
